<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<form th:action="@{/questions}" method="post" th:object="${question}" >
    <input type="text" name="description" th:field="*{description}" />
    categories:
    <input type="text" name="categories" th:field="*{categories}" />

    <input type="submit" value="Tikla" />
</form>
</body>
</html>