<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<li th:text="${question.id}" />

<li th:text="${question.description}" />

cevaplar:

<div th:each=" comment :${question.comments}">
<span th:text="${comment.description}" />
</div>


categoriess<br/>
<tr th:each="category : ${question.category}">
    <td th:text="${category.name}"></td>

</tr><br/>

commentss

<tr th:each="comment : ${question.comments}">
    <td th:text="${comment.description}">


    </td>

</tr>

add comment
<form th:action="@{/comments}" method="post" >
    <input type="text" name="description" th:field="*{comment.description}" />
    <input type="hidden" th:field="*{question.id}" th:value="${question.id}"/>
    <input type="hidden" name="questionId" th:field="*{comment.questionId}" th:value="${question.id}"/>

    <input type="button" value="Tikla" />
</form>

</body>
</html>
